.Home{
    background: black;
}

.header{
    height: 80px;
    background: #202020;
    display: flex;
    padding:20px 40px;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin:6px;
    border-radius: 10px;
}

.header .left{
    display: flex;
    align-items: center;
}

.header .left img{
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
}

.welcome{
    font-weight: 600;
    font-size: 18px;
}

.logout{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    color:#202020;
    background: white;
}

.money{
    margin: 20px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.money .bud-up, .money .bal-up{
    display: flex;
    align-items: center;
}

.money .bal-up{
    margin-bottom: 30px;
}

.money .bud-up >*, .money .bal-up >*{
    flex: 1.5;
}

.money .bud-up input, .money .bal-up input{
    flex: 1;
}

.money .tag{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.money input[type="number"]{
    text-align: center;
    font-size: 26px;
    padding:10px 10px;
    width: auto;
    border-radius: 10px;
    border: 1px solid gray;
    min-width: 0px;
    margin-right: 20px;
}

.money .update{
    flex: 2;
    margin-left: 40px;
    background: #202020;
    padding:40px 40px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    color: #202020;
    flex:1;
}

.money .update button{
    padding: 16px 20px;
    border-radius: 10px;
    border: none;
    background: #202020;
    color: #FFFFFF;
    font-size: 18px;
}

.balance, .budget{
    padding:50px 40px;
    margin:40px 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    color: #202020;
    flex:1;
}

.budget{
    background: #202020;
    color: white;
    margin-left: 30px;
}

.balance h1, .budget h1{
    text-align: center;
    font-size: 52px;
    margin-bottom: 20px;
}